services:
  graphql-server:
    build: .
    container_name: raza-ag
    command: sh -c "npm install && npm run dev"
    ports:
      - "4000:4000"
    volumes:
      - .:/app 
    environment:
      - NODE_ENV=development
    env_file:
      - .env
    networks:
      - autenticador_network

  tests:
    build:
      context: .
      dockerfile: Dockerfile.test
    container_name: raza-ag-tests
    environment:
      API_PETS_URL: "http://mocked-api"   
    command: ["npm", "test"]

networks:
  autenticador_network:
    external: true
